<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Manager</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/css.gg/icons/all.css" rel="stylesheet">
    {{!-- gotowy CSS z ikonkami --}}
</head>

<body>
    <header>
        <h1>File Manager</h1>
        <nav>
            <a href="/">Upload</a>
            <a href="/filemanager">File Manager</a>
            <a href="/reset">Reset</a>
            <a href="/info">Info</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

</body>

</html>