<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Manager</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/css.gg/icons/all.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>File Manager</h1>
        <div class="nav-menu">
            {{#if user}}
            <!-- Widok dla zalogowanego użytkownika -->
            <span class="user-greeting">Witaj, {{user.login}}!</span>
            <a href="/logout" class="nav-link">Wyloguj</a>
            {{else}}
            <!-- Widok dla gościa -->
            <a href="/login" class="nav-link">Logowanie</a>
            <a href="/register" class="nav-link">Rejestracja</a>
            {{/if}}
        </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>