{{#if file}}

<h1>Szczegóły pliku</h1>
<p><strong>Nazwa:</strong> {{file.name}}</p>
<p><strong>Rozmiar:</strong> {{file.size}} bytes</p>
<p><strong>Typ:</strong> {{file.type}}</p>
<a href="/filemanager">Powrót</a>
{{else}}
<h1>Author: Mateusz Debosz 4Ib</h1>

{{/if}}